<% if cocktail.photo %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path (cocktail.photo.path) %>);">
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.cocktails-faciles.fr/get/img/cocktails/17-daiquiri.jpg');">
<% end %>
  <div class="banner-content">
    <h1><%= cocktail.name %></h1>
  </div>
</div>